*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: rgb(255, 251, 251); */
}
body{
    background-color: black;
}
header{
    display: flex;
   justify-content:left;
   align-items: center;
   padding: 30px 10%;
   

}

.logo_back{
   cursor: pointer;
   
}


.logo_div{
   margin-left: 36%;
   
   
}
.logo{
   cursor: pointer;
   width: 200px;
}



.cta_div{
   margin-left:auto ;
}
button{
  margin-left: 20px;
   padding: 15px;
   width: 110px;
   background-color: rgb(230, 6, 6);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   color: white;
   transition: all 0.3s ease 0s;
}

button:hover{
   background-color: rgba(10, 10, 10, 0.445);
}


.content{
    margin: 10% 160px;
    margin-top: 50px;
    background-color:rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    height: 500px;
    display:flex;
    padding: 50px;
}


#main_content{
    
    /* margin-left: 20px; */
    height: 150px;
    width: 40%;
    color: rgb(255, 251, 251);
    
}

#mydata{
    
    
    /* margin-left: 50%;
    display:flex; */
    width: 60%;
    height: 20%;

    

    
}

#myTableData{
    display:flex;
}


select,option{
    /* width: 50px;
    height: 10%; */
    font-size: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
   margin-left: 50px;
    /* position: relative;
    top: 50px;
    padding: 15px; */
    background-color: rgb(202, 10, 10);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;     
}
span{
    font-size: 19px;
    font-weight: bold;
}

#control_bar{
    /* margin-top: 30px; */
    height: 80px;
    width: 410px;
    margin-top: 10%;
}
#quantity{
margin-left: 100px;
padding: 10px;
    width: 195px;
    font-size: 15px;
    background-color: rgb(230, 6, 6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}
#add{
    /* margin-left: 63%; */
    margin-top: 50px;
    padding: 15px;
    width: 100px;
    background-color: rgb(230, 6, 6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;

}
#bottm{
    display: flex;
}
#total_View{
    position: relative;
    left: 10%;
    
}
#total_View:hover{
    font-weight: bold;
    box-shadow: 0px 0px 8px red;
    border-radius: 5%;
    font-size: 12px;
    font-family: Papyurs;
}

table ,tr,td{
    border: rgb(190, 190, 190) solid 1px;
    border-collapse:collapse ;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
}
#first_row td{
    width:1150px;
    height: 60px;
}
#first_row #delete{
    width:550px;
}
/* table{
    
    height: 400px;
} */
#total_s{
    position: relative;
    left: 40%;
    bottom: 42%;
}




